<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/rabbit
    http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd
    http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 配置connection-factory，指定连接rabbit server参数 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${mq.host}" username="${mq.username}" password="${mq.password}"
		port="${mq.port}" virtual-host="${mq.vhost}" />
	<!-- 通过指定下面的admin信息，当前producer中的exchange和queue会在rabbitmq服务器上自动生成 -->
	<rabbit:admin connection-factory="connectionFactory" />
	<!-- spring template声明 -->
	<rabbit:template id="amqpTemplate" exchange="amqpExchange"
		connection-factory="connectionFactory" message-converter="jsonMessageConverter" />
	<!-- 消息对象json转换类 -->
	<bean id="jsonMessageConverter"
		class="org.springframework.amqp.support.converter.Jackson2JsonMessageConverter"></bean>
	<!-- 声明一个消息队列Queue -->
	<rabbit:queue id="pay_query" name="pay_query" durable="true"
		auto-delete="false" exclusive="false" />
	<!-- 交换机定义 -->
	<rabbit:direct-exchange id="amqpExchange" name="amqpExchange"
		durable="true" auto-delete="false">
		<rabbit:bindings>
			<rabbit:binding queue="pay_query" key="pay_queue_key"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:direct-exchange>

	<!-- 监听配置 -->
	<rabbit:listener-container
		connection-factory="connectionFactory">
		<rabbit:listener ref="messageConsumer" queues="pay_query" />
	</rabbit:listener-container>
	<!-- mq消费者 -->
	<bean id="messageConsumer" class="com.xiaojun.mq.MessageConsumer"></bean>
</beans>