<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://code.alibabatech.com/schema/dubbo 
	http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
 	<dubbo:application name="${dubbo.provider.application.name}" owner="${dubbo.provider.application.owner}" />
 	<dubbo:registry address="${dubbo.registry.address}" />
	<dubbo:protocol name="${dubbo.provider.protocol.name}" threads="${dubbo.provider.protocol.threads}" 
					threadpool="${dubbo.provider.protocol.threadpool}" port="${dubbo.provider.cache.protocol.port}" />
	<dubbo:provider group="${dubbo.provider.group}" version="${dubbo.provider.version}" timeout="${dubbo.provider.timeout}" />
	<dubbo:annotation package="com.xiaojun" />
</beans> 